.combine3{
    @apply
    relative
    p-3
    bg-gradient-to-b from-[#9410AB] to-[#2B1349]
    text-white
}
.streetMap{
    @apply
    relative
    max-w-7xl
    mx-auto
    px-10
    py-20
    items-center
    flex flex-wrap

}
.titleIMG{
    @apply
    w-16
    rotate-[-90deg]
   text-7xl
   text-center
   px-10
   mt-[300px]
}
.area5{
    @apply
    relative


}
.explain {
    padding: 50px 70px;
    text-align: left;
    flex: 1;
}
.p {
    padding: 10px 0px 10px 0px;
    margin: 5px 0;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
.bgImg {
    right: 0;
    bottom: 0;
    z-index: 0;
    text-align: right;
    position: absolute;
}
.milestones {
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    display: flex;
}
.cardHero {
    width: 500px;
}
.subentry {
    margin-left: 30px;
    flex: 1;

}
.titleIMG2 {
    height: 71px;
    font-family: 'Headliner No. 45';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 71px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.item {
    padding: 10px;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    @apply
    flex-wrap
}
.percentICON {
    width: 80px;
    margin: 0;
}
.textCont {
    padding: 10px 5px;
    flex: 1;
}
.p3 {
    text-align: left;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}