.combine1 {
  padding: 10px;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(149, 16, 172, 1) 0%,
    rgba(42, 19, 72, 1) 100%
  );
}

@media screen and (max-width: 1100px) {
  .combine1 {
    padding: 10px;
  }
}

.area1 {
  max-width: 2000px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  flex-wrap: wrap;
}

.lImg {
  width: 30%;
  max-width: 1000px;
}

@media screen and (max-width: 900px) {
  .lImg {
    display: none;
  }
}

.lImgg {
  left: -10px;
  width: 100%;
  top: 0;
  position: relative;
}

.cText {
  width: 30%;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
}
.titleWELCOMETOTHE {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  left: 560px;
  top: 1008px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

@media screen and (max-width: 900px) {
  .titleWELCOMETOTHE {
    font-size: 25px;
    cursor: default;
  }
}

.titleIMG {
  margin: 0 auto;
  width: 80%;
  left: 619px;
  top: 1066px;
  font-family: "Headliner No. 45";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 91px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  width: 100%;
  text-align: center;
  cursor: default;
}

.txtp {
  width: 100%;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  cursor: default;
}

.txtpp {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 26px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .txtpp {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  }
}

.learnmore {
  cursor: pointer;
}

.learnmorebutton {
  margin: 30px auto;
  padding: 20px 30px;
  color: #fff;
  display: inline-block;
  background-color: #fac710;
  margin-bottom: 80px;
  font-family: "Barcade No Bar";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  -webkit-border-radius: 7px;
}

.rImg {
  width: 30%;
  max-width: 1000px;
}

@media screen and (max-width: 900px) {
  .rImg {
    display: none;
  }
}

.rImgg {
  left: -10px;
  width: 100%;
  top: 0;
  position: relative;
}

.area2 {
}

@media screen and (max-width: 900px) {
  .area2 {
    padding: 30px 0;
    display: block;
  }
}

.cardHeroList {
  width: 100%;
  min-height: 200px;
}

.cardHeroGrid {
  width: 70%;
  max-width: 1200px;
  margin: 30px auto 20px;
  align-items: stretch;
  align-items: flex-start;
  display: flex;
  -webkit-box-align: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .cardHeroGrid {
    width: 85%;
  }
}

.gridt {
}

.introduce {
}
