.bg{}
.bgimg{
 
 
}
@media screen and (max-width: 900px) {
  .bgimg{
    
    padding-top:50px;
    
  }
}


.banner {
  margin: 0;
  min-height: 200px;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 0;
  background-color: rgb(45, 20, 79);
  
  

}
.title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 50%;
}

@media screen and (max-width: 900px) {
  .title {
    text-align: center;
    top: 25%;
  }
}

.texttitle {
  font-family: "Barcade No Bar";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 91px;
  text-align: center;
  color: #e4cbec;
}

@media screen and (max-width: 900px) {
  .texttitle {
    font-size: 40px;
  }
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  
}
.combine {
  background-color: rgb(45, 20, 79);
}
@media screen and (max-width: 1100px) {
  .combine {
    padding: 10px;
  }
}
.area1 {
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  flex-wrap: wrap;

  
  
}

.area2 {
}

@media screen and (max-width: 900px) {
  .area2 {
    padding: 30px 0;
    display: block;
  }
}

.gallery2 {
}
.gallery3 {
  width: 100%;
  margin: 15px 0 0;
}


