.backgroundImage{

   
    
    @apply
    bg-[url('../../public/gallery1-bg.png')]
    bg-cover
    

    
    
  
}

.title{
    font-family: "Barcade No Bar", sans-serif;
    text-align: center;
    flex: 1 1 100%;
    font-size: 15vmax; /* 128px */  
    color: white;
    
    

    
}

.backgroundcolor{
    background-color: #2d144f;
}