.container {
  padding: 0 0rem;
  overflow: hidden;
  display: block;
}

.main {
  width: 100%;
    height: 100%;
    text-align: center;
    background: #FAC710;
    top: 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}





